<footer>
    <div class="d-flex justify-content-center" style="gap: 10px;">
        <a class="text-secondary text-center" href="https://www.flaticon.com/free-icons/game-development"
            title="game development icons"><small>Game
                development
                icons created by juicy_fish - Flaticon</small></a>
    </div>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "1ac8fe59fade4833ae2c732193c971cc"}'></script>
    <!-- End Cloudflare Web Analytics -->
</footer>