<footer>
    <div class="d-flex justify-content-center" style="gap: 10px;">
        <a class="text-secondary text-center" href="https://www.flaticon.com/free-icons/game-development"
            title="game development icons"><small>Game
                development
                icons created by juicy_fish - Flaticon</small></a>
    </div>
</footer>