<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #0f0f0f;">
    <a class="navbar-brand" href="/" style="padding-left: 8px;">Philip White</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#About">About</a>
            </li>
            <li class="nav-item dropdown btn-group">
                <a class="nav-link btn text-start" href="/#Projects" style="padding-right: 1%;">Projects</a>
                <a class="nav-link dropdown-toggle dropdown-toggle-split" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item text-secondary" href="/projects/vendetta">Vendetta</a>
                    <a class="dropdown-item text-secondary" href="/projects/corruptedmemory">Corrupted Memory</a>
                    <a class="dropdown-item text-secondary" href="/projects/azureabyss">Azure Abyss</a>
                    <a class="dropdown-item text-secondary" href="/projects/fatjohnslifter">Fat John's Lifter</a>
                    <a class="dropdown-item text-secondary" href="/projects/thekrakensummersplash">The Kraken Summer
                        Splash</a>
                    <a class="dropdown-item text-secondary" href="/projects/goapai">GOAP AI</a>
                    <a class="dropdown-item text-secondary" href="/projects/snowdown">Snowdown</a>
                    <a class="dropdown-item text-secondary" href="/projects/pastyprotector">Pasty Protector</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/PhilipWhiteCVGame.pdf">CV</a>
            </li>
        </ul>
    </div>
</nav>