<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Philip White</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item dropdown btn-group">
                    <a class="nav-link btn" href="javascript:document.getElementById('Projects').scrollIntoView(true)" style="padding-right: 0%;">Projects</a>
                    <a class="nav-link dropdown-toggle dropdown-toggle-split" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-secondary" href="/projects/azureabyss">Azure Abyss</a>
                        <a class="dropdown-item text-secondary" href="/projects/thekrakensummersplash">The Kraken Summer Splash</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('About').scrollIntoView(true)">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('Contact').scrollIntoView(true)">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>