<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/_headerMeta.ejs') %>
        <meta name="description"
            content="I am a 3rd year game programming student focusing on gameplay. I have a strong desire to create digital experiences that are both visually compelling, have sophisticated functionality and I always find myself learning new methods to engage and inspire gamers.">
        <title>Philip White Portfolio</title>
        <meta property="og:title" content="Philip White Portfolio" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://philipwhite.dev/" />
        <meta property="og:image" content="https://philipwhite.dev/OGImage.png" />
        <meta property="og:description"
            content="I am a 3rd year game programming student focusing on gameplay. I have a strong desire to create digital experiences that are both visually compelling, have sophisticated functionality and I always find myself learning new methods to engage and inspire gamers." />
        <meta property="og:locale" content="en_GB" />
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('./partials/_navBar.ejs') %>

        <div id="headerVideo">
            <div class="overlay"></div>
            <video class="w-100" autoplay loop muted>
                <source src="/azureabysstrailer.mp4" type="video/mp4" />
            </video>
            <div class="container h-100">
                <div class="d-flex h-100">
                    <div class="w-100">
                        <a class="display-3 h1" style="padding-top: 25px; text-decoration: none;"
                            href="/projects/azureabyss">Azure Abyss</a>
                        <p class="lead mb-0 col-sm-12 col-md-6" style="padding-bottom: 25px;">A Turn-Based Combat
                            Adventure Game Set in a
                            large perforation inside the Earth's crust tinted blue by the light from the moon.</p>
                        <a href="/projects/azureabyss" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1 class="text-center" id="About" style="padding: 25px;">Welcome to My Portfolio</h1>
            <h4>Hello!</h4>
            <h5>I'm Philip,</h5>
            <p>I'm a Game Development: Programmer Student at Falmouth University with proficient experience in game
                engines such as Unreal Engine and Unity using languages such as C++ and
                C#. I am an aspiring Gameplay and Network Programmer looking for a challenging role to express my
                skills. In my
                personal projects, I tinker with web development (backend) node.js such as this site which is deployed
                on my Raspberry Pi using PM2 and Nginx. I also have experience with
                javascript game engines such as Phaser. </p>
            <p>I am currently focused on Unreal Engine and still learning how to use such a powerful tool after using it
                in my second-year group project Azure Abyss and will be looking forward to using Unreal Engine in my
                upcoming third-year project Vendetta.</p>

            <h1 class="text-center" style="padding-top: 25px;" id="Skills">Skills</h1>
            <div class="skills" style="padding-bottom: 25px;">
                <h5 class="text-center">Languages</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="C++">
                        <h6>2+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=cpp&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="C#">
                        <h6>3+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=cs&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="JavaScript">
                        <h6>5+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=js&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Python">
                        <h6>3+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=py&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Lua">
                        <h6>2+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=lua&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Java">
                        <h6>2+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=java&theme=dark" />
                    </div>
                </div>
                <h5 class="text-center" style="padding-top: 25px;">Game Engines</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div class="d-flex align-items-center" id="software" data-bs-toggle="tooltip"
                        data-bs-title="Unreal Engine 5">
                        <h6>3+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=unreal&theme=dark" style="width: 65px;" />
                    </div>
                    <div class="d-flex align-items-center" id="software" data-bs-toggle="tooltip" data-bs-title="Unity">
                        <h6>2+ Years</h6>
                        <img src="https://skillicons.dev/icons?i=unity&theme=dark" style="width: 65px;" />
                    </div>
                </div>
                <h5 class="text-center" style="padding-top: 25px;">Other Software</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Node.js">
                        <img src="https://skillicons.dev/icons?i=nodejs&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Git">
                        <img src="https://skillicons.dev/icons?i=git&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Github">
                        <img src="https://skillicons.dev/icons?i=github&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="MySQL">
                        <img src="https://skillicons.dev/icons?i=mysql&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="PostgreSQL">
                        <img src="https://skillicons.dev/icons?i=postgres&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Photoshop">
                        <img src="https://skillicons.dev/icons?i=ps&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Blender">
                        <img src="https://skillicons.dev/icons?i=blender&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Heroku">
                        <img src="https://skillicons.dev/icons?i=heroku&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Docker">
                        <img src="https://skillicons.dev/icons?i=docker&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Express.js">
                        <img src="https://skillicons.dev/icons?i=express&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Pug">
                        <img src="https://skillicons.dev/icons?i=pug&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Bootstrap 5+">
                        <img src="https://skillicons.dev/icons?i=bootstrap&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Nginx">
                        <img src="https://skillicons.dev/icons?i=nginx&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Postman">
                        <img src="https://skillicons.dev/icons?i=postman&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Raspberry Pi">
                        <img src="https://skillicons.dev/icons?i=raspberrypi&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Arduino">
                        <img src="https://skillicons.dev/icons?i=arduino&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Visual Studio">
                        <img src="https://skillicons.dev/icons?i=visualstudio&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Visual Studio Code">
                        <img src="https://skillicons.dev/icons?i=vscode&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip"
                        data-bs-title="Rider for Unreal Engine (ik there wasn't an icon for Rider)">
                        <img src="https://skillicons.dev/icons?i=idea&theme=dark" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-bottom: 25px;">
            <h1 class="text-center" style="padding: 25px;" id="Projects">Projects</h1>
            <div class="d-flex justify-content-center flex-wrap" style="gap: 25px; padding-bottom: 25px;">
                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/vendetta/cover_page.png" alt="Card image"
                        style="width:100%; height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/vendetta">Vendetta</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A 3rd year University Group Project,
                            as the co-lead programmer,
                            focusing on
                            AI, Spatial Inventories and Complex Dialog Systems.
                        </p>
                        <a href="/projects/vendetta" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/corruptedmemory/corruptedmemory_cover.png" alt="Card image"
                        style="width:100%; height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/corruptedmemory">Corrupted Memory</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                            <span class="badge rounded-pill bg-primary">JS</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A 3rd year University Solo Project,
                            testing my technical knowledge in
                            Networking, focusing on
                            Webservers, Websockets, RPCs, Custom Lobby Systems and Dedicated UE5 Servers.
                        </p>
                        <a href="/projects/corruptedmemory" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/azureabyss/cover_page.png" alt="Card image"
                        style="width:100%; height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/azureabyss">Azure Abyss</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A 2nd year University Group Project,
                            as the lead programmer, under the name
                            of
                            Cave-In Studios.
                        </p>
                        <a href="/projects/azureabyss" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/fatjohnslifter/CoverArtBanner.png" alt="Card image"
                        style="width:100%; height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/fatjohnslifter">Fat John's Lifter</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A Global Game Jam 2024 Project, as
                            the only programmer in a team of 5. The theme was "Make Me Laugh".
                        </p>
                        <a href="/projects/fatjohnslifter" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/kraken/title.png" alt="Card image" style="width:100%;height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/thekrakensummersplash">The Kraken Summer Splash</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">Phaser 3</span>
                            <span class="badge rounded-pill bg-primary">JS</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A commissioned project for Kraken
                            Rum for a competition to win a branded
                            arcade machine hosted on the "The League of Darkness" site.
                        </p>
                        <a href="/projects/thekrakensummersplash" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/goapai/actionPlanCut.png" alt="Card image"
                        style="width:100%;height:316px;">
                    <div class="card-body d-flex flex-column align-items-start">
                        <a class="card-title h4" href="/projects/goapai">GOAP AI</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text flex-grow-1" style="padding-top: 10px;">A University Project for a
                            Turn-Based Combat AI implementing Goal-Oriented
                            Action Planning intended for the project Azure Abyss.
                        </p>
                        <div class="d-flex align-items-end">
                            <a href="/projects/goapai" class="btn btn-outline-secondary">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="text-center" style="padding: 25px;" id="Contact">Contact Me</h1>

            <form class="needs-validation" id="contactForm" data-bs-theme="dark" style="padding-bottom: 25px;"
                novalidate>
                <fieldset id="contactFieldset">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="nameInput" class="form-label">Name</label>
                            <input type="text" class="form-control" id="nameInput" name="name" placeholder="Name"
                                maxlength="100" required>
                            <div class="invalid-feedback">
                                Please enter your name
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="emailInput" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputEmailPrepend"><i
                                        class="fa-solid fa-envelope"></i></span>
                                <input type="email" class="form-control" id="emailInput"
                                    aria-describedby="inputEmailPrepend" name="email" placeholder="example@example.com"
                                    maxlength="100" required>
                                <div class="invalid-feedback">
                                    Please enter a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="subjectInput" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subjectInput" name="subject"
                                placeholder="Subject" maxlength="100" required>
                            <div class="invalid-feedback">
                                Please enter a subject
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="msgArea" class="form-label">Message</label>
                            <textarea class="form-control" id="msgArea" name="message" rows="6" placeholder="Message"
                                maxlength="1000" required></textarea>
                            <div class="invalid-feedback">
                                Please enter a message
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100" id="sendContactButton">Send</button>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="sm d-flex justify-content-center">
                <a href="https://twitter.com/Null_Cat_0"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/philip-white-dev/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Null-Cat"><i class="fab fa-github"></i></a>
                <a href="https://gitea.philipwhite.dev/Null_Cat"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                        height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M4.209 4.603c-.247 0-.525.02-.84.088c-.333.07-1.28.283-2.054 1.027C-.403 7.25.035 9.685.089 10.052c.065.446.263 1.687 1.21 2.768c1.749 2.141 5.513 2.092 5.513 2.092s.462 1.103 1.168 2.119c.955 1.263 1.936 2.248 2.89 2.367c2.406 0 7.212-.004 7.212-.004s.458.004 1.08-.394c.535-.324 1.013-.893 1.013-.893s.492-.527 1.18-1.73c.21-.37.385-.729.538-1.068c0 0 2.107-4.471 2.107-8.823c-.042-1.318-.367-1.55-.443-1.627c-.156-.156-.366-.153-.366-.153s-4.475.252-6.792.306c-.508.011-1.012.023-1.512.027v4.474l-.634-.301c0-1.39-.004-4.17-.004-4.17c-1.107.016-3.405-.084-3.405-.084s-5.399-.27-5.987-.324c-.187-.011-.401-.032-.648-.032zm.354 1.832h.111s.271 2.269.6 3.597C5.549 11.147 6.22 13 6.22 13s-.996-.119-1.641-.348c-.99-.324-1.409-.714-1.409-.714s-.73-.511-1.096-1.52C1.444 8.73 2.021 7.7 2.021 7.7s.32-.859 1.47-1.145c.395-.106.863-.12 1.072-.12m8.33 2.554c.26.003.509.127.509.127l.868.422l-.529 1.075a.686.686 0 0 0-.614.359a.685.685 0 0 0 .072.756l-.939 1.924a.69.69 0 0 0-.66.527a.687.687 0 0 0 .347.763a.686.686 0 0 0 .867-.206a.688.688 0 0 0-.069-.882l.916-1.874a.667.667 0 0 0 .237-.02a.657.657 0 0 0 .271-.137a8.826 8.826 0 0 1 1.016.512a.761.761 0 0 1 .286.282c.073.21-.073.569-.073.569c-.087.29-.702 1.55-.702 1.55a.692.692 0 0 0-.676.477a.681.681 0 1 0 1.157-.252c.073-.141.141-.282.214-.431c.19-.397.515-1.16.515-1.16c.035-.066.218-.394.103-.814c-.095-.435-.48-.638-.48-.638c-.467-.301-1.116-.58-1.116-.58s0-.156-.042-.27a.688.688 0 0 0-.148-.241l.516-1.062l2.89 1.401s.48.218.583.619c.073.282-.019.534-.069.657c-.24.587-2.1 4.317-2.1 4.317s-.232.554-.748.588a1.065 1.065 0 0 1-.393-.045l-.202-.08l-4.31-2.1s-.417-.218-.49-.596c-.083-.31.104-.691.104-.691l2.073-4.272s.183-.37.466-.497a.855.855 0 0 1 .35-.077" />
                    </svg></a>
                <a href="mailto:philip@philipwhite.dev"><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="d-flex justify-content-center">
                <span style="padding-right: 8px;"><a style="color: white;" href="mailto:philip@philipwhite.dev"><i
                            class="fa-solid fa-envelope"></i></a></span>
                <a href="mailto:philip@philipwhite.dev" style="color: white;">philip@philipwhite.dev</a>
            </div>
        </div>

        <script src="/js/scrollTo.js"></script>
        <script src="/js/contactSend.js" defer></script>
        <%- include('./partials/_bootstrapJS.ejs') %>
</body>

<%- include('./partials/_footer.ejs') %>