<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/_headerMeta.ejs') %>
        <meta name="description"
            content="I am a 3rd year game programming student focusing on gameplay. I have a strong desire to create digital experiences that are both visually compelling, have sophisticated functionality and I always find myself learning new methods to engage and inspire gamers.">
        <title>Philip White Portfolio</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('./partials/_navBar.ejs') %>

        <header>
            <!-- Creates the transparent black overlay -->
            <div class="overlay"></div>
            <video class="w-100" autoplay loop muted>
                <source src="/azureabysstrailer.mp4" type="video/mp4" />
            </video>
            <div class="container h-100">
                <div class="d-flex h-100">
                    <div class="w-100">
                        <a class="display-3 h1" style="padding-top: 25px; text-decoration: none;"
                            href="/projects/azureabyss">Azure Abyss</a>
                        <p class="lead mb-0 col-sm-12 col-md-6" style="padding-bottom: 25px;">A Turn-Based Combat
                            Adventure Game Set in a
                            large perforation inside the Earth's crust tinted blue by the light from the moon.</p>
                        <a href="/projects/azureabyss" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <h1 class="text-center" id="About" style="padding: 25px;">Welcome to My Portfolio</h1>
            <h4>Hello!</h4>
            <h5>I'm Philip,</h5>
            <p>I'm a Game Development: Programmer Student at Falmouth University with proficient experience in game
                engines such as Unreal Engine and Unity using languages such as C++ and
                C#. I am an aspiring Gameplay Programmer looking for a challenging role to express my skills. In my
                personal projects, I tinker with web development (backend) node.js such as this site which is deployed
                on my Raspberry Pi using PM2 and Nginx. I also have experience with
                javascript game engines such as Phaser. </p>
            <p>I am currently focused on Unreal Engine and still learning how to use such a powerful tool after using it
                in my second-year group project Azure Abyss and will be looking forward to using Unreal Engine in my
                upcoming third-year project Endless Vendetta.</p>

            <h1 class="text-center" style="padding-top: 25px;" id="Skills">Skills</h1>
            <div class="skills">
                <h5 class="text-center">Languages</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="C++">
                        <a>2+ Years</a>
                        <img src="https://skillicons.dev/icons?i=cpp&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="C#">
                        <a>3+ Years</a>
                        <img src="https://skillicons.dev/icons?i=cs&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="JavaScript">
                        <a>5+ Years</a>
                        <img src="https://skillicons.dev/icons?i=js&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Python">
                        <a>3+ Years</a>
                        <img src="https://skillicons.dev/icons?i=py&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Lua">
                        <a>2+ Years</a>
                        <img src="https://skillicons.dev/icons?i=lua&theme=dark" />
                    </div>
                    <div id="lang" data-bs-toggle="tooltip" data-bs-title="Java">
                        <a>2+ Years</a>
                        <img src="https://skillicons.dev/icons?i=java&theme=dark" />
                    </div>
                </div>
                <h5 class="text-center" style="padding-top: 25px;">Game Engines</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Unreal Engine 5">
                        <img src="https://skillicons.dev/icons?i=unreal&theme=dark" style="width: 65px;" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Unity">
                        <img src="https://skillicons.dev/icons?i=unity&theme=dark" style="width: 65px;" />
                    </div>
                </div>
                <h5 class="text-center" style="padding-top: 25px;">Other Software</h5>
                <div class="d-flex justify-content-center flex-wrap" style="gap: 5px;">
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Node.js">
                        <img src="https://skillicons.dev/icons?i=nodejs&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Git">
                        <img src="https://skillicons.dev/icons?i=git&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Github">
                        <img src="https://skillicons.dev/icons?i=github&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="MySQL">
                        <img src="https://skillicons.dev/icons?i=mysql&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="PostgreSQL">
                        <img src="https://skillicons.dev/icons?i=postgres&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Photoshop">
                        <img src="https://skillicons.dev/icons?i=ps&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Blender">
                        <img src="https://skillicons.dev/icons?i=blender&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Heroku">
                        <img src="https://skillicons.dev/icons?i=heroku&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Docker">
                        <img src="https://skillicons.dev/icons?i=docker&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Express.js">
                        <img src="https://skillicons.dev/icons?i=express&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Pug">
                        <img src="https://skillicons.dev/icons?i=pug&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Bootstrap 5+">
                        <img src="https://skillicons.dev/icons?i=bootstrap&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Nginx">
                        <img src="https://skillicons.dev/icons?i=nginx&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Postman">
                        <img src="https://skillicons.dev/icons?i=postman&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Raspberry Pi">
                        <img src="https://skillicons.dev/icons?i=raspberrypi&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Arduino">
                        <img src="https://skillicons.dev/icons?i=arduino&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Visual Studio">
                        <img src="https://skillicons.dev/icons?i=visualstudio&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip" data-bs-title="Visual Studio Code">
                        <img src="https://skillicons.dev/icons?i=vscode&theme=dark" />
                    </div>
                    <div id="software" data-bs-toggle="tooltip"
                        data-bs-title="Rider for Unreal Engine (ik there wasn't an icon for Rider)">
                        <img src="https://skillicons.dev/icons?i=idea&theme=dark" />
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="padding-bottom: 25px;">
            <h1 class="text-center" style="padding: 25px;" id="Projects">Projects</h1>
            <div class="d-flex justify-content-center flex-wrap" style="gap: 25px;">
                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/endlessvendetta/cover_page.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <a class="card-title h4" href="/projects/endlessvendetta">Endless Vendetta</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text">A 3rd year University Group Project, as the co-lead programmer, focusing on
                            AI, Spatial Inventories and Complex Dialog Systems.
                        </p>
                        <a href="/projects/endlessvendetta" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/azureabyss/cover_page.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <a class="card-title h4" href="/projects/azureabyss">Azure Abyss</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text">A 2nd year University Group Project, as the lead programmer, under the name
                            of
                            Cave-In Studios.
                        </p>
                        <a href="/projects/azureabyss" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/kraken/title.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <a class="card-title h4" href="/projects/thekrakensummersplash">The Kraken Summer Splash</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">Phaser 3</span>
                            <span class="badge rounded-pill bg-primary">JS</span>
                        </div>
                        <p class="card-text">A commissioned project for Kraken Rum for a competition to win a branded
                            arcade machine hosted on the "The League of Darkness" site.
                        </p>
                        <a href="/projects/thekrakensummersplash" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>

                <div class="card bg-dark text-white" id="projectCard" style="width:400px;">
                    <img class="card-img-top" src="/goapai/actionPlanCut.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <a class="card-title h4" href="/projects/goapai">GOAP AI</a>
                        <div>
                            <span class="badge rounded-pill bg-secondary">UE5</span>
                            <span class="badge rounded-pill bg-primary">C++</span>
                        </div>
                        <p class="card-text">A University Project for a Turn-Based Combat AI implementing Goal-Oriented
                            Action Planning intended for the project Azure Abyss.
                        </p>
                        <a href="/projects/goapai" class="btn btn-outline-secondary">See More</a>
                    </div>
                </div>
            </div>


            <h1 class="text-center" style="padding: 25px;" id="Contact">Contact Me</h1>
            <div class="sm d-flex justify-content-center">
                <a href="https://twitter.com/Null_Cat_0"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/philip-white-dev/"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://github.com/Null-Cat"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <script src="/js/scrollTo.js"></script>
        <%- include('./partials/_bootstrapJS.ejs') %>
</body>

<%- include('./partials/_footer.ejs') %>