<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/_headerMeta.ejs') %>
        <meta name="description" content="All the Projects I've Created or Participated in">
        <title>Projects</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('./partials/_navBar.ejs') %>

    <div class="container">
        <h1 class="text-center">Welcome to My Projects</h1>
    </div>

    <%- include('./partials/_bootstrapJS.ejs') %>
</body>

<%- include('./partials/_footer.ejs') %>