:root {
    --bg-color: #0f0f0f;
    --text-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
}

footer {
    bottom: 0;
    padding-top: 5px;
    width: 100%;
    height: 50px;
    background-color: #181818;
    border-top: 0.1px solid #fff;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #1f1f1f;
}

#headerVideo {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    #headerVideo {
        height: 45vh;
    }
}

#headerVideo video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#headerVideo .container {
    position: relative;
    z-index: 2;
}

#headerVideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
    #headerVideo {
        background: url(/azureabyss/banner.png) black no-repeat center center scroll;
    }

    #headerVideo video {
        display: none;
    }
}

#lang {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #181818;
}

#software {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #181818;
}

#projectCard {
    background-color: #181818 !important;
}

.sm a {
    display: inline-block;
    font-size: 40px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #0084ff;
    margin: 0 16px;
    transition: .4s linear;
    position: relative;
}

.sm a::before,
.sm a::after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: .4s linear;
}

.sm a:hover {
    transform: scale(.8);
}

.sm a:hover::before {
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}

.sm a:hover::after {
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}