<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/_headerMeta.ejs') %>
        <meta name="description" content="Project: Azure Abyss, The Azure Abyss, a large perforation inside the crust of the Earth tinted blue by the light from
        the moon. The blue light has mutated the cave and the creatures inside it, creating twisted
        monstrosities.">
        <title>Project: Azure Abyss</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/_navBar.ejs') %>

        <div class="container">
            <h1 class="text-center">Azure Abyss</h1>
            <div id="FeaturedProject" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="0"
                        class="active"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="4"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="5"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="6"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="7"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="8"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="9"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="10"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="11"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="12"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="13"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/azureabyss/ScreenShot0.png" alt="Screen1" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Your Predecessor</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot1.png" alt="Screen2" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>The Abyss</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot2.png" alt="Screen3" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Merchant Sister</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot3.png" alt="Screen4" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Feral Goat Cave</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot4.png" alt="Screen5" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Merchant Entrance</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot5.png" alt="Screen5" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Crystal Tunnel</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot6.png" alt="Screen6" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>---- Entrance</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot7.png" alt="Screen7" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>...</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot8.png" alt="Screen8" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Combat</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot9.png" alt="Screen9" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Enter</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot10.png" alt="Screen10" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Merchant Sister</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot11.png" alt="Screen11" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Merchant</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot12.png" alt="Screen12" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Healing Jelly</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/azureabyss/ScreenShot13.png" alt="Screen13" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Feral Goat Cave</h5>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <div class="d-flex justify-content-center" style="padding-top: 25px;">
                <iframe frameborder="0" src="https://itch.io/embed/1881579?linkback=true&amp;dark=true" width="552"
                    height="167"><a href="https://null-cat.itch.io/azureabyss">Azure Abyss by Null_Cat</a></iframe>
            </div>

            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12 col-md-6">
                    <h3>Project Description</h3>
                    <p>The Azure Abyss, a large perforation inside the crust of the Earth tinted blue by the light from
                        the moon. The blue light has mutated the cave and the creatures inside it, creating twisted
                        monstrosities.
                        <br>
                        <br>
                        You are Indigo Pilfer, a scientist forced down into the abyss by his boss to find the secrets of
                        what lies below. Use your weapon to combine elements in order to defeat the monsters in the
                        abyss, your wits to get around the interwoven cave systems, and your bravery to make it to the
                        bottom and perhaps you'll make it out alive.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Project Features</h3>
                    <ul>
                        <li>3D Platformer</li>
                        <li>Turn Based Combat</li>
                        <li>Collectables</li>
                        <li>Enemies</li>
                        <li>Obstacles</li>
                        <li>Merchant System</li>
                        <li>Destructible Walls</li>
                    </ul>
                </div>
            </div>

            <h4 class="text-center" style="padding-top: 25px;">Trailer</h4>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X1yisHiOpvQ?si=XGrxgGdAkDRR5sg9"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
        <%- include('../partials/_bootstrapJS.ejs') %>
</body>

<%- include('../partials/_footer.ejs') %>