<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/_headerMeta.ejs') %>
        <meta name="description" content="Azure Abyss">
        <title>Project: Azure Abyss</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/_navBar.ejs') %>

    <div class="container">
        <h1 class="text-center">Azure Abyss</h1>
    </div>

    <%- include('../partials/_bootstrapJS.ejs') %>
</body>

<%- include('../partials/_footer.ejs') %>