<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/_headerMeta.ejs') %>
        <meta name="description"
            content="Crime, violence and betrayal runs rampant throughout the solar system. Take on bounties as you hunt to kill the one who murdered your family, and left you for dead.">
        <title>Project: Endless Vendetta</title>
        <meta property="og:title" content="Project: Endless Vendetta">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://philipwhite.dev/projects/endlessvendetta">
        <meta property="og:image" content="https://philipwhite.dev/endlessvendetta/EndlessVendettaCardTitle.webp">
        <meta property="og:description"
            content="Crime, violence and betrayal runs rampant throughout the solar system. Take on bounties as you hunt to kill the one who murdered your family, and left you for dead.">
        <meta property="og:locale" content="en_GB">

        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/_navBar.ejs') %>

        <div class="container" style="padding-top: 56px;">
            <h1 class="text-center fw-bold">Endless Vendetta</h1>
            <div id="FeaturedProject" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="0"
                        class="active"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="3"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="4"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="5"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="6"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="7"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="8"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="9"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="10"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="11"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="12"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="13"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="14"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="15"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="16"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="17"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="18"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/endlessvendetta/Screenshot0.webp" alt="Screen1" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Main Menu</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot1.webp" alt="Screen2" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First Mayor Interaction</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot2.webp" alt="Screen3" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mayor Dialogue</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot3.webp" alt="Screen4" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Mayor Dialogue Choices</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot4.webp" alt="Screen5" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Waypoint</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot5.webp" alt="Screen6" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Shooting Gallery</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot6.webp" alt="Screen7" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Combat Gadget</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot7.webp" alt="Screen8" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Using Combat Gadget</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot8.webp" alt="Screen9" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Recon Gadget</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot9.webp" alt="Screen10" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Using Recon Gadget</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot10.webp" alt="Screen11" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>New Miami</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot11.webp" alt="Screen12" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>New Miami</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot12.webp" alt="Screen13" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>New Miami</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot13.webp" alt="Screen14" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>New Miami Park</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot14.webp" alt="Screen15" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Side Bounty</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot15.webp" alt="Screen16" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Weapon Attachment Workbench</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot16.webp" alt="Screen17" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Enemy Wave</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot17.webp" alt="Screen18" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dinning Room</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/endlessvendetta/Screenshot18.webp" alt="Screen19" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Getting Damaged</h5>
                        </div>
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <div class="d-flex justify-content-center" style="padding-top: 25px;">
                <iframe frameborder="0" src="https://itch.io/embed/2695551?dark=true" width="552" height="167"><a
                        href="https://solarstonegames.itch.io/endless-vendetta">Endless Vendetta by Solar Stone
                        Entertainment, Marcel, Philip, KacperSZ, RafalMakesGames</a></iframe>
            </div>

            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12 col-md-6">
                    <h3>Project Description</h3>
                    <p>
                        The game is an realistic FPS game that features both bounties that progress the main story and
                        boast high payouts, or exploration of
                        the world, where you can meet unique NPC's and do side activities to prepare for the next bounty
                        or side quest that progress your relationship with your crew.
                        <br>
                        <br>
                        The realism aspect of the gameplay is to do with gunplay and damage, where each combat encounter
                        is deadly and requires smart decision making and planning to complete effectively. Guns have
                        realistic recoil and feel heavy and brutal, as if each shot makes an impact to the world or
                        other characters.
                        <br>
                        <br>
                        The open world exploration allows the player to walk around the level and take in scenery,
                        complete hits or side bounties, talk to unique NPC's, find secrets or trade. Unique NPC's can
                        give side storylines, items or even be a fight the player has to go through.
                        <br>
                        <a href="https://gitea.philipwhite.dev/Rafal/EndlessVendetta"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M4.209 4.603c-.247 0-.525.02-.84.088c-.333.07-1.28.283-2.054 1.027C-.403 7.25.035 9.685.089 10.052c.065.446.263 1.687 1.21 2.768c1.749 2.141 5.513 2.092 5.513 2.092s.462 1.103 1.168 2.119c.955 1.263 1.936 2.248 2.89 2.367c2.406 0 7.212-.004 7.212-.004s.458.004 1.08-.394c.535-.324 1.013-.893 1.013-.893s.492-.527 1.18-1.73c.21-.37.385-.729.538-1.068c0 0 2.107-4.471 2.107-8.823c-.042-1.318-.367-1.55-.443-1.627c-.156-.156-.366-.153-.366-.153s-4.475.252-6.792.306c-.508.011-1.012.023-1.512.027v4.474l-.634-.301c0-1.39-.004-4.17-.004-4.17c-1.107.016-3.405-.084-3.405-.084s-5.399-.27-5.987-.324c-.187-.011-.401-.032-.648-.032zm.354 1.832h.111s.271 2.269.6 3.597C5.549 11.147 6.22 13 6.22 13s-.996-.119-1.641-.348c-.99-.324-1.409-.714-1.409-.714s-.73-.511-1.096-1.52C1.444 8.73 2.021 7.7 2.021 7.7s.32-.859 1.47-1.145c.395-.106.863-.12 1.072-.12m8.33 2.554c.26.003.509.127.509.127l.868.422l-.529 1.075a.686.686 0 0 0-.614.359a.685.685 0 0 0 .072.756l-.939 1.924a.69.69 0 0 0-.66.527a.687.687 0 0 0 .347.763a.686.686 0 0 0 .867-.206a.688.688 0 0 0-.069-.882l.916-1.874a.667.667 0 0 0 .237-.02a.657.657 0 0 0 .271-.137a8.826 8.826 0 0 1 1.016.512a.761.761 0 0 1 .286.282c.073.21-.073.569-.073.569c-.087.29-.702 1.55-.702 1.55a.692.692 0 0 0-.676.477a.681.681 0 1 0 1.157-.252c.073-.141.141-.282.214-.431c.19-.397.515-1.16.515-1.16c.035-.066.218-.394.103-.814c-.095-.435-.48-.638-.48-.638c-.467-.301-1.116-.58-1.116-.58s0-.156-.042-.27a.688.688 0 0 0-.148-.241l.516-1.062l2.89 1.401s.48.218.583.619c.073.282-.019.534-.069.657c-.24.587-2.1 4.317-2.1 4.317s-.232.554-.748.588a1.065 1.065 0 0 1-.393-.045l-.202-.08l-4.31-2.1s-.417-.218-.49-.596c-.083-.31.104-.691.104-.691l2.073-4.272s.183-.37.466-.497a.855.855 0 0 1 .35-.077" />
                            </svg> Game Source</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Project Features</h3>
                    <div style="padding-bottom: 15px;">
                        <span class="badge bg-secondary">Unreal Engine 5.1</span>
                        <span class="badge bg-primary">C++</span>
                        <span class="badge text-bg-dark">Windows</span>
                    </div>
                    <ul>
                        <li>First Person Shooter</li>
                        <li>Complex Gun Play</li>
                        <li>Weapon Attachments</li>
                        <li>Open World</li>
                        <li>Mantling System</li>
                        <li>Bounties</li>
                        <li>Enemy AI</li>
                        <li>Spatial Inventory</li>
                        <li>Dialog System</li>
                        <li>Gadgets</li>
                    </ul>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">Trailer</h3>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/J-6rMWNq-gQ?si=za4ALm9AQ_ZrnSVx"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">Pitch</h3>
            <div class="d-flex justify-content-center">
                <iframe
                    src="https://docs.google.com/presentation/d/e/2PACX-1vQdyX2L3K3UizzR-If9guZ7OStsDa-fHCQeVhxYy8lLyMazTUfbzX2BDpwGDEnBR3T5ix002J7T8AoU/embed?start=false&loop=true&delayms=5000"
                    frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>
            </div>

            <h2 class="text-center" style="padding-top: 25px;">My Contributions</h2>

            <h3 class="text-center" style="padding-top: 25px;">Dialog System</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        The dialog system was designed to be designer friendly first. The system conforms
                        to this by allowing the designer to create dialogue trees
                        through modifying a plugin called <a href="https://github.com/jinyuliao/GenericGraph">Generic
                            Graph</a> by jinyuliao. This allows a designer to create a dialog tree through a graph which
                        is immensely easier to understand and work with rather than programmatically entering the tree.
                        <br>
                        <br>
                        This system allows for multiple speakers, voice overs and unlimited dialogue choices. Dialogue
                        Choices can also be constrained to player values such as inventory items, favours, quest flags
                        or even previous dialogue choices.
                    </p>
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/Dialogue3.png" alt="Dialog Snippet" class="w-100">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/Dialogue2.png" alt="Dialog Snippet" class="w-100">
                        <img src="/endlessvendetta/Dialogue1.png" alt="Dialog Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">Enemy AI</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        The Enemy AI uses unreal engine's behavior tree system programmed to have a patrol system, a
                        restricted bounds system, stealth system and a combat system. The patrol system allows the enemy
                        to move between points in the world and the restricted bounds system allows the enemy know if
                        the player is in a restricted area and to attack the player if they are
                        within a certain area. The stealth system allows the enemy to detect the player and alert other
                        enemies to the player's presence. The combat system allows the enemy to shoot the player and
                        take cover when needed using unreal engines EQS system to calculate the best spot possible.
                        <br>
                        <br>
                        The AI also reacts to the player's actions such as if the player is shooting the AI will
                        immediately take cover and shoot back. If the player is in stealth the AI will search for the
                        player and alert other AI to the player's presence if they are able to sense the players
                        movements.
                    </p>
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/AI3.png" alt="AI Snippet" class="w-100">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/AI1.png" alt="AI Snippet" class="w-100">
                        <img src="/endlessvendetta/AI2.png" alt="AI Snippet" class="w-100" style="padding-top: 5px;">
                    </div>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">Spacial Inventory</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        The Inventory system was designed to be a grid spacial inventory system that restricts the
                        player
                        from holding an indefinite amount of items by how much grid space it uses a.k.a. similar to
                        Tarkov's & Resident Evil's inventory system.
                        <br>
                        <br>
                        The UI exists however was cut due to time constraints. However the system is fully functional
                        and in place integrated with the dialog system for quest items. Future plans for the system
                        include ammunition and swapping weapons.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/Inventory1.png" alt="Inventory Snippet" class="w-100">
                        <img src="/endlessvendetta/Inventory2.png" alt="Inventory Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">Movement System</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        The movement system is using the <a
                            href="https://www.unrealengine.com/marketplace/en-US/product/advanced-locomotion-system-v1">Advanced
                            Locomotion System</a> by LongmireLocomotion. This system allows for a smooth and realistic
                        feel to the player's movement as well as a well tested mantling system. The system is modified
                        to allow for custom animations and weapons
                        to be used along side it.
                    </p>
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/ALS2.png" alt="Movement Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/ALS1.png" alt="Movement Snippet" class="w-100">
                    </div>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">First Person Animations</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        Due to the lack of an animator on the team I took it upon myself to create the first person
                        animations for both the pistol and the rifle. As these weapons were custom made and no pre-made
                        animations would do the trick. The animations were created in blender and
                        imported into unreal engine using the unreal engine animation system. The animations were
                        created to be realistic and to give the player a sense of weight and power when firing the
                        weapons.
                        <br>
                        <br>
                        The animations are triggered in blueprints using the animation system and montages to trigger
                        them on demand. The animations are also integrated with the ALS system allowing for the smooth
                        movement whist also having custom made weapons.
                    </p>
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/Animation3.png" alt="Animation Snippet" class="w-100">
                        <img src="/endlessvendetta/Animation2.png" alt="Animation Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/Animation1.png" alt="Animation Snippet" class="w-100">
                    </div>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">UI Programming</h3>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        I have created the final UI for the game in line with our concepts and the game's theme. I have
                        made UI animations using unreal engine's widget sequencer to make the UI more dynamic and grabs
                        the users attention when needs be.
                        <br>
                        <br>
                        I have also created UI animations with images using Photoshop and imported them into unreal and
                        created a material to animate them.
                    </p>
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/UI3.png" alt="AI Snippet" class="w-100">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/endlessvendetta/UI1.png" alt="Dialog Snippet" class="w-100">
                        <img src="/endlessvendetta/UI2.png" alt="Dialog Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
            </div>

        </div>
        <%- include('../partials/_bootstrapJS.ejs') %>
</body>

<%- include('../partials/_footer.ejs') %>