<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/_headerMeta.ejs') %>
        <meta name="description"
            content="Snowdown is a split-screen projectile-based game, set in an alternate post-apocalyptic world. Whilst the situation above ground doesn't look too bad at first glance, the longer you look, the more you see how the nuclear winter has affected all that survived.">
        <title>Project: Snowdown</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/_navBar.ejs') %>

        <div class="container" style="padding-top: 56px;">
            <h1 class="text-center">Snowdown</h1>
            <div id="FeaturedProject" class="carousel slide" data-bs-ride="carousel">
                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="0"
                        class="active"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#FeaturedProject" data-bs-slide-to="3"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/snowdown/Screen1.jpg" alt="Screen1" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Main Menu</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/snowdown/Screen2.jpg" alt="Screen2" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Player Select</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/snowdown/Screen3.png" alt="Screen3" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Chase</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/snowdown/Screen4.png" alt="Screen4" class="w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Credits</h5>
                        </div>
                    </div>
                </div>
                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#FeaturedProject"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <div class="d-flex justify-content-center" style="padding-top: 25px;">
                <iframe src="https://itch.io/embed/1454234?linkback=true&amp;dark=true" width="552" height="167"
                    frameborder="0"><a href="https://alexbasta.itch.io/snowdown">Snowdown by AlexBasta, Michael
                        bull</a></iframe>
            </div>

            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12 col-md-6">
                    <h3>Project Description</h3>
                    <p>Snowdown is a split-screen projectile-based game, set in an alternate post-apocalyptic world.
                        Whilst the situation above ground doesn't look too bad at first glance, the longer you look, the
                        more you see how the nuclear winter has affected all that survived.
                        <br>
                        <br>
                        Snowdown is centered around the one versus one game mode, where both players throw snowballs at
                        each other to be crowned the victor. The round-based gameplay encourages players to develop and
                        hone their skills to become the superior Snowdown player.
                        <br>
                        <a href="https://gitea.philipwhite.dev/Null_Cat/Snowdown"><svg
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M4.209 4.603c-.247 0-.525.02-.84.088c-.333.07-1.28.283-2.054 1.027C-.403 7.25.035 9.685.089 10.052c.065.446.263 1.687 1.21 2.768c1.749 2.141 5.513 2.092 5.513 2.092s.462 1.103 1.168 2.119c.955 1.263 1.936 2.248 2.89 2.367c2.406 0 7.212-.004 7.212-.004s.458.004 1.08-.394c.535-.324 1.013-.893 1.013-.893s.492-.527 1.18-1.73c.21-.37.385-.729.538-1.068c0 0 2.107-4.471 2.107-8.823c-.042-1.318-.367-1.55-.443-1.627c-.156-.156-.366-.153-.366-.153s-4.475.252-6.792.306c-.508.011-1.012.023-1.512.027v4.474l-.634-.301c0-1.39-.004-4.17-.004-4.17c-1.107.016-3.405-.084-3.405-.084s-5.399-.27-5.987-.324c-.187-.011-.401-.032-.648-.032zm.354 1.832h.111s.271 2.269.6 3.597C5.549 11.147 6.22 13 6.22 13s-.996-.119-1.641-.348c-.99-.324-1.409-.714-1.409-.714s-.73-.511-1.096-1.52C1.444 8.73 2.021 7.7 2.021 7.7s.32-.859 1.47-1.145c.395-.106.863-.12 1.072-.12m8.33 2.554c.26.003.509.127.509.127l.868.422l-.529 1.075a.686.686 0 0 0-.614.359a.685.685 0 0 0 .072.756l-.939 1.924a.69.69 0 0 0-.66.527a.687.687 0 0 0 .347.763a.686.686 0 0 0 .867-.206a.688.688 0 0 0-.069-.882l.916-1.874a.667.667 0 0 0 .237-.02a.657.657 0 0 0 .271-.137a8.826 8.826 0 0 1 1.016.512a.761.761 0 0 1 .286.282c.073.21-.073.569-.073.569c-.087.29-.702 1.55-.702 1.55a.692.692 0 0 0-.676.477a.681.681 0 1 0 1.157-.252c.073-.141.141-.282.214-.431c.19-.397.515-1.16.515-1.16c.035-.066.218-.394.103-.814c-.095-.435-.48-.638-.48-.638c-.467-.301-1.116-.58-1.116-.58s0-.156-.042-.27a.688.688 0 0 0-.148-.241l.516-1.062l2.89 1.401s.48.218.583.619c.073.282-.019.534-.069.657c-.24.587-2.1 4.317-2.1 4.317s-.232.554-.748.588a1.065 1.065 0 0 1-.393-.045l-.202-.08l-4.31-2.1s-.417-.218-.49-.596c-.083-.31.104-.691.104-.691l2.073-4.272s.183-.37.466-.497a.855.855 0 0 1 .35-.077" />
                            </svg> Game Source</a>
                        <a href="https://github.com/Null-Cat/NSQLI"><i class="fab fa-github"></i>
                            Webserver Source</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Project Features</h3>
                    <div style="padding-bottom: 15px;">
                        <span class="badge bg-secondary">Unity 2020.3.12</span>
                        <span class="badge bg-primary">C#</span>
                        <span class="badge bg-primary">JS</span>
                        <span class="badge text-bg-dark">Windows</span>
                    </div>
                    <ul>
                        <li>3D</li>
                        <li>First Person Combat</li>
                        <li>Multiple Weapon Types</li>
                        <li>Split-Screen</li>
                        <li>Obstacles</li>
                        <li>Trajectories</li>
                        <li>Global Leaderboard</li>
                        <li>Controller Support</li>
                    </ul>
                </div>
            </div>

            <h4 class="text-center" style="padding-top: 25px;">Trailer</h4>
            <div class="d-flex justify-content-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6B9fIsuOCzQ?si=1y9fxBvfwREpi3OW"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">My Contributions</h3>

            <div class="d-flex justify-content-center flex-column" style="padding-top: 10px;">
                <p style="padding-top: 10px;">
                    My main contributions to Snowdown were the implementations of:
                </p>
                <ul>
                    <li>Split-Screen</li>
                    <li>Movement</li>
                    <li>Multiple Weapon Types</li>
                    <li>Global Leaderboard</li>
                    <li>Controller Support</li>
                </ul>
            </div>
        </div>
        <%- include('../partials/_bootstrapJS.ejs') %>
</body>

<%- include('../partials/_footer.ejs') %>