<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/_headerMeta.ejs') %>
        <meta name="description" content='Project: The Kraken Summer Splash, A commissioned project for Kraken Rum for a competition to win a branded arcade machine hosted
        on the "The League of Darkness" site. Has a fully functional leaderboard with secure score transmission to a
            secured API backend.'>
        <title>Project: The Kraken Summer Splash</title>
        <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../partials/_navBar.ejs') %>

        <div class="container">
            <h1 class="text-center">The Kraken Summer Splash</h1>
            <div id="krakenflap" userid=00001>
                <link rel="preload" as="font" href="/js/assets/Kenney Mini Square.ttf" type="font/ttf" crossOrigin>
                <style>
                    @font-face {
                        font-family: kenney_mini_square_regular;
                        src: url('/js/assets/Kenney\ Mini\ Square.ttf');
                    }
                </style>
                <script src="/js/krakenflap.js" defer></script>
            </div>

            <div class="row" style="padding-top: 25px;">
                <div class="col-sm-12 col-md-6">
                    <h3>Project Description</h3>
                    <p>Player 1. Are you ready? Fancy snaring a genuine one-off Kraken Freaky Tiki Summer Splash arcade
                        cab with over 13,000 games, widescreen and unbelievable stereo sound?
                        <br>
                        <br>
                        A commissioned project for Kraken Rum for a competition to win a branded arcade machine hosted
                        on the "The League of Darkness" site. Has a fully functional leaderboard with secure score
                        transmission to a secured API backend.
                    </p>
                    <a class="text-secondary"
                        href="https://www.theleagueofdarkness.co.uk/the-krakens-summer-splash">Hosted here: "The League
                        of Darkness" site.</a>
                    <p class="fs-6 fw-light"><em>*Login Required</em></p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h3>Project Features</h3>
                    <div style="padding-bottom: 15px;">
                        <span class="badge bg-secondary">Phaser 3</span>
                        <span class="badge bg-primary">JavaScript</span>
                        <span class="badge text-bg-dark">Web</span>
                    </div>
                    <ul>
                        <li>2D Obstacle Course</li>
                        <li>Difficulty Scaling</li>
                        <li>Leaderboard</li>
                        <li>Bonus Items</li>
                        <li>Cheat Detection</li>
                        <li>Secured API</li>
                        <li>Obfuscation</li>
                    </ul>
                </div>
            </div>

            <h3 class="text-center" style="padding-top: 25px;">My Contributions</h3>

            <h4 class="text-center" style="padding-top: 25px;">Securing Scores & Retrieving/Sending API Data</h4>
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm-12 col-md-6">
                    <p>
                        As the game was hosted on a public facing website and that there is a high value reward for
                        getting the top scores in this game, I had to ensure that the scores were not manipulated in any
                        way during the competition however due to the nature of public facing websites all scripts are
                        publicly available so I had to use multiple methodologies to slow any perpetrators down before
                        the competition ends.
                        <br>
                        <br>
                        I did this by using a combination of obfuscation and encryption techniques to ensure that the
                        scores were
                        secure at the time of the competition. One of the techniques that was implemented was done by
                        storing the scores in multiple variables
                        obfuscating the names and functions that check the scores as you pass through each tunnel. I
                        also used a obfuscating tool called "Javascript Obfuscator" to obfuscate the code further by
                        including the whole game script. I also used a encryption technique using AES to encrypt the
                        scores set by
                        Kraken Rum's hosts of the game, this was done by using a encryption key and salt that was
                        provided
                        by the hosts and encrypting the scores then sending the encrypted scores to the API endpoint
                        provided, in
                        the form of a POST request as stated by the API documentation.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="d-flex flex-column">
                        <img src="/kraken/KrakenSnippet0.png" alt="Kraken Snippet" class="w-100">
                        <img src="/kraken/KrakenSnippet1.png" alt="Kraken Snippet" class="w-100"
                            style="padding-top: 5px;">
                        <img src="/kraken/KrakenSnippet2.png" alt="Kraken Snippet" class="w-100"
                            style="padding-top: 5px;">
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/_bootstrapJS.ejs') %>
</body>

<%- include('../partials/_footer.ejs') %>